<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">


	
	    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">  
        <property name="driverClassName"  value="org.postgresql.Driver"></property>  
        <property name="url" value="jdbc:postgresql://localhost/postgres"></property>  
        <property name="username" value="postgres"></property>  
        <property name="password" value="root"></property>  
    </bean>  
      
    <bean id="localsessionFactory"  class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">  
        <property name="dataSource" ref="dataSource"></property>  
          
        <property name="mappingResources">  
        <list>  
        <value>employee.hbm.xml</value>  
        </list>  
        </property>  
          
        <property name="hibernateProperties">  
            <props>  
                <prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>  
                <prop key="hibernate.hbm2ddl.auto">update</prop>  
                <prop key="hibernate.show_sql">true</prop>  
                  
            </props>  
        </property>  
    </bean>  
      
    <bean id="template" class="org.springframework.orm.hibernate4.HibernateTemplate">  
    <property name="sessionFactory" ref="localsessionFactory"></property>  
     <property name="checkWriteOperations" value="false"></property>
    </bean>  
      
    <bean id="emp" class="edu.learn.spring.spjdbc.Daoimpl.EmployeeDaoimpl">  
    <property name="template" ref="template"></property>  
    </bean>  
</beans>